	{% extends 'base.html' %}

	{% block content %}

	<div class='card animated fadeInLeft'>
			<div class = 'h3 text-center  card-header'>
				Entry | Update
				
			</div>


			<form class = 'md-form p-4' method = 'POST'>
				
				{% csrf_token %}
				{% for field in form %}
						<div class='text-muted'>
						{{field.label}}
						</div>
						<div class='form-inline'>
							{{field}}	
						</div>
					
				{% endfor %}

				<input class='btn btn-indigo'  type="submit" value="Submit">	
			</form>
			</div>
	
	{% endblock %}	

{% block extracontent %}
	
	<div class="card">
 		 <div class = ' h3 text-center  card-header'>
			Competitions
		</div>

		<div class='p-3'>
			<form class='md-form'>
				<input id="myInput" type="text" placeholder="Search..">
			</form>
		</div>
	<div class="table-wrapper-2 p-1">
	  	<table class='table table-sm table-striped'>
			<thead>
			<tr>
				<th>Competition ID</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Venue</th>

			</tr>
			</thead>
			<tbody id='myTable'>
					{% for competition in competition_list %}
				<tr>
					<td>{{competition.competition_id }}</td>
					<td>{{competition.start_from }}</td>
					<td>{{competition.end_on }}</td>
					<td>{{competition.venue }}</td>
					<td><a class='btn btn-sm btn-indigo' href="{% url 'competition-update' competition.pk %}">Update</a>
					 <a class='btn btn-sm btn-indigo confirm-delete' href="{% url 'competition-delete' competition.pk %}">Delete</a></td>
				</tr>

				{% endfor %}
			</tbody>
			
		</table>

	  </div>
	</div>
	
	{% endblock %}	
